@import url('https://fonts.googleapis.com/css2?family=Open Sans:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/times-new-roman');

body {
  font-family: 'Open Sans', serif;
  background-color: #ffffff;
  color: #333;
  margin: 0;
  padding: 0;
}

.nvbr {
  font-family: 'Open Sans', serif;
  font-weight: 800;
}

h2 {
  font-family: 'Open Sans', serif;
  font-weight: 800;
  font-size: 2em;
  text-align: center;
  color: #333;
}

h2.newsitm {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1em;
  text-align: left;
  color: #333;
}

h3 {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  color: #7e7e7e;
}

.news-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.news-item h2 {
  font-family: 'Open Sans', serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000;
}

.news-item p {
  font-size: 1em;
  color: #555;
}

button {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  padding: 10px 20px;
  color: #fff;
  background-color: #333;
  border: none;
  cursor: pointer;
  margin: 0 5px;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.form-select {
  background-color: #343a40;
  color: #fff;
  border: 1px solid #495057;
  text-align: end;
}

.form-select:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.btn {
  border-radius: 0%;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.about-title {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  font-size: 2em;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.about-description {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.home-container {
  padding: 20px;
}

.hero-section {
  padding: 60px 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}

.hero {
  text-align: start;
}

.home-title {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  font-size: 2.5em;
  margin-bottom: 20px;
  /* color: #000; */
}

.home-subtitle {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-bottom: 30px;
  /* color: #555; */
}

.hero-button {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  padding: 10px 20px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #333;
}

.categories-section {

}

.categories-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin-bottom: 20px;
  color: #000;
}

.categories-grid {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.news-item {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.news-item h2 {
  font-family: 'Open Sans', serif;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000;
}

.news-item p {
  font-size: 1em;
  color: #555;
}

button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 20px;
}

.navbar-brand {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
}

.navbar-nav .nav-link {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1em;
  color: #555;
}

.navbar-nav .nav-link:hover {
  color: #000;
}


.current-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: right;
}

.current-info {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  color: #000;
}

.stock-info {
  font-family: 'Open Sans', serif;
  font-size: 1em;
  color: #000;
}

.stock-info h3 {
  font-family: 'Open Sans', serif;
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.stock-info p {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  color: #555;
}

.stock-info .name {
  font-family: 'Open Sans', serif;
  font-weight: 400;
  color: #000000;
}

@media (max-width: 768px) {
  .current-info-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .current-info-container {

    text-align: left;
  }

}



body.dark-mode {
  background-color: #000000;
  color: #e0e0e0; /* Lighten the text color */
}

body.dark-mode .navbar {
  background-color: #1a1a1a; /* Slightly darker for better contrast */
  border-bottom: 1px solid #444;
}

body.dark-mode .navbar-brand {
  color: #f0f0f0; /* Lighter text color */
}

body.dark-mode .nav-link {
  color: #b5b5b5; /* Lighter text color */
}



body.dark-mode .nav-link.active {
  color: #ffffff;
}

body.dark-mode .nav-link:hover {
  color: #7d7d7d;
}


body.dark-mode .news-item {
  background-color: #1a1a1a; /* Darker background for contrast */
  border: 1px solid #444;
  color: #f0f0f0; /* Lighten text color */
}

body.dark-mode .form-select {
  background-color: #2c2c2c; /* Slightly lighter than the navbar */
  color: #f0f0f0; /* Lighten text */
  border: 1px solid #555;
}

body.dark-mode button {
  background-color: #444; /* Lighter button background */
  border: 1px solid #555;
}

body.dark-mode h2,

body.dark-mode .news-item h2{
  color: #ffffff; /* White for headings to stand out */
  font-weight: 700; /* Increase font weight for better readability */
}

body.dark-mode h3,body.dark-mode .stock-info h3 ,body.dark-mode .home-title,body.dark-mode p,
body.dark-mode .home-subtitle {
  color: #e6e6e6; /* Lighten text */
}

body.dark-mode .news-item .card-text small {
  color: #6d6d6d; /* or any other color that contrasts well with the dark background */
}


.form-select.bg-dark {
  background-color: #343a40;
  color: #e0e0e0;
}

.form-select.bg-light {
  background-color: #ffffff;
  color: #000000;
}

.form-switch {
  padding-left: 0em;
}

body.dark-mode .about-container {
  background-color: #1a1a1a; /* Darker background for contrast */
  border: 1px solid #444; /* Border color for better contrast */
  color: #f0f0f0; /* Lighten text color */
}

body.dark-mode .about-title {
  color: #ffffff; /* White for headings to stand out */
  font-weight: 700; /* Increase font weight for better readability */
}

body.dark-mode .about-description {
  color: #e6e6e6; /* Lighten text color */
}
